server:
  port: 8085

spring:
  cloud:
    gateway:
      default-filters:
        - TokenRelay
      routes:
        - id: wellness-service
          uri: http://wellness-service:8081
          predicates:
            - Path=/api/resources/**
          filters:
            - StripPrefix=1
        - id: goal-service
          uri: http://goal-tracking-service:8082
          predicates:
            - Path=/api/goals/**
          filters:
            - StripPrefix=1
        - id: event-service
          uri: http://event-service:8083
          predicates:
            - Path=/api/events/**
          filters:
            - StripPrefix=1

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/gbc-wellness
